
body { font-family: 'Gill Sans', sans-serif; font-size: 20px; }

.station a,
.voi a {
  color: black;
  text-decoration: none;
  font-weight: normal;
  font-size: 28px;
}

.description {
  font-size: 18px;
  color: #777;
}